<h1><%= @gig.title %></h1>

<h1><%= @gig.description %></h1>


<div class="text-center">
<%= link_to 'Update Gig', edit_gig_path(@gig), class: 'btn btn-warning btn-lg' %>
</div>

<div class="text-center">
<%= link_to 'Delete Gig', gig_path(@gig), method: :delete, data: {confirm: "Are you sure you want to delete #{@gig.title}"  }, class: 'btn btn-warning btn-lg' %>
</div>

<div class="row">
  <% @gig.sites.each do |site| %>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center"><%= link_to site.name, gig_site_path( @gig, site ) %></h2> 
      </div>   
    </div>
  </div>
  <% end %>
</div>  

<div class="text-center">
<%= link_to 'Add a new Site...', new_gig_site_path(@gig), class: 'btn btn-primary btn-lg' %>
</div>

