<h1><%= @site.name %></h1>

<div class="text-center">
<%= link_to 'Update Site', edit_gig_site_path(@gig, @site), class: 'btn btn-warning btn-lg' %>
</div>

<div class="text-center">
<%= link_to 'Delete Site', gig_site_path(@gig, @site), method: :delete, data: {confirm: "Are you sure you want to delete #{@site.name}"  }, class: 'btn btn-warning btn-lg' %>
</div>

<div class="row">
  <% @site.notes.each do |note| %>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center"><%= note.body %></h2>
      </div>   
    </div>
  </div>
  <% end %> 
</div> 



<div class="row">
  <% @site.notes.each do |note| %>
  <% if note.image.main.url %>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div>
          
            <%= image_tag note.image.main.url %>
          
        </div>  
      </div>   
    </div>
  </div>
  <% end %>
  <% end %>
</div> 

<div class="text-center">
  <%= link_to 'Add a new Note...', new_site_note_path(@site), class: 'btn btn-primary btn-lg' %>
</div>
