<!DOCTYPE html>
<html>
  <head>
    <title>Gigsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flex-content-container">

    <%= render "shared/application_nav" %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <h1>Adding content</h1>
   
  
    </div>
    <%= render "shared/application_footer" %> 
  </body>
</html>
